.Game {
    display: grid;
    text-align: center;
    width: 50vw;
    margin: auto;
  }
  
  .maze-image {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  }
  
  #root{
    margin: 0 auto;
  
  }
  .cell {
    width: 38px;
    height: 38px;
    background: #70707070;
    border: solid 1px;
    display: block;
    float: left;
  }
  
  .getting_started {
    width: 100%;
  }
  
  .gamebox {
    width: 418px;
    margin: auto;
  }
  
  .scoreGame {
    display: flex;
  flex-wrap: wrap;
  }
  
  .scoreGame>div{
    width: 23%;
    border-radius: 5px;
    background: gray;
    margin-right: 7px;
  }
  
  .achived__scores {
    color: black;
    font-size: 15px;
    padding: 0;
    border: none;
    font-weight: bold;
  }
  
  .moves__used {
    color: black;
    font-size: 15px;
    padding: 0;
    border: none;
    font-weight: bold;
  }
  
  .moves__remaining {
    color: black;
    font-size: 15px;
    padding: 0;
    border: none;
    font-weight: bold;
  }
  
  .mashrooms__remaining {
    color: black;
    font-size: 15px;
    padding: 0;
    border: none;
    font-weight: bold;
  }
  .game__box__div {
    margin: 2vh 0 3vh 0;
  }